@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.brand {
    font-family: 'Lato', sans-serif;
}

.rm-pad-left {
    padding-left: 0 !important;
}

.card-gap{
    gap: 15px;
}

.card-width {
    width: 200px;
}